---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Blog</title>
	</head>
	<body>
		<h1>Today (3/2/25)</h1>
		<p> Today I did my fourth homework for CSE 134B after a long weekend of fun and exciting activities. This assignment brought a nice end to my weekend, allowing me to learn a lot about JavaScript and this astro static site generator. 
		It looks very similar to the static site generator that my group and I used in CSE 110, which was electron. They seem to also provide the same sort of benefits, making them even more similar. Overall, I have not seen
		substantial differences, and cannot wait to learn more about astro/11ty, finding out the strengths and weaknesses of both and being able to leverage those to create the best website possible. </p>
	</body>
</html>
