---
import Layout from '../components/Layout.astro';
---

<Layout title="My Basic Astro Page">
  <main>
    <h1>Hello World!</h1>
    <p>This is a basic page. Now you can start adding more content and features as you learn more.</p>
  </main>
</Layout>
